{% extends 'dashboard.html' %}

{% block header %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    {% endblock %}
    
    {% block title %}
    <title>Add Recipe</title>
    {% endblock %}
{% block content %}
<div class="container">
    <h2>Add a Recipe</h2>
    <hr>
    {% with messages = get_flashed_messages(True) %}
    <form action="/add_recipe/new" method="POST">
        <input type="hidden" name='user_id' value="{{user.id}}">
        <div class="form_row mb-2">
            <label class="h4" for="title">Recipe Title: </label>
            <input type="text" id="title" name="title" value="{{session['title']}}">
        {% for category, message in messages %}
            {% if category == 'title' %}
                <p class="flash_warning h6">
                    {{message}}
                </p>
            {% endif %}
        {% endfor %}
        </div>

        <div class="form_row mb-2">
            <label class="h4" for="description">Description: </label>
            <textarea id="description" name="description">{{session['description']}}</textarea>
        {% for category, message in messages %}
            {% if category == 'description' %}
                <p class="flash_warning h6">
                    {{message}}
                </p>
            {% endif %}
        {% endfor %}
        </div>

        <div class="form_row mb-2">
            <label class="h4" for="ingredients">Ingredients: </label>
            <input type="text" id="ingredients" name="ingredients">
            <button  id="search_ingredients" class="btn btn-primary" type="button">Search!</button>

            <ul id = 'ingredient_search_results'>
            </ul>
    <!-- Incoroporate API to look up ingredients and add to list -->
        {% for category, message in messages %}
            {% if category == 'ingredients' %}
                <p class="flash_warning h6">
                    {{message}}
                </p>
            {% endif %}
        {% endfor %}
        </div>
        


        <div class="form_row mb-2">
            <label for="instructions">Instructions: </label>
            <textarea id="instrucitons" name="instructions">{{session['instructions']}}</textarea>
        {% for category, message in messages %}
            {% if category == 'instructions' %}
                <p class="flash_warning h6">
                    {{message}}
                </p>
            {% endif %}
        {% endfor %}
        </div>

        <div class="form_row mb-2">
            <p class="h4">Is this a Premium Recipe?</p>
            <label class="h6" for="premium_true">True</label>
            <input type="radio" value="1" name="premium" id="premium_true" class="radio">
            <label class="h6" for="premium_false">False</label>
            <input type="radio" value="0" name="premium" id="premium_false" class="radio" checked>
        </div>
        <div id='ingredient_list' class="hidden">
        </div>
        <div class="form_row mb-2"><button class="btn-success" type="submit" id="submit">Save Recipe!</button></div>
        
        <div id= 'recipe_ingredients'>
            <table>
                <thead>
                    <tr>
                        <th>Quantity</th>
                        <th>Quantity Type</th>
                        <th>Ingredient</th>
                        <th class="hidden">Hidden</th>
                    </tr>
                </thead>
                <tbody id='table_body'>
                    
                </tbody>
            </table>
        </form>
    </div>
</div>
{% endwith %}
<script src="{{url_for('static', filename='js/ingredients.js')}}"></script>
{% endblock %}