{% extends 'dashboard.html' %}
{% block title %}
    <title>View Recipe</title>
{% endblock %}
{% block content %}

{% if user.id == creator.id %}
<form action="/edit_recipe/{{recipe.id}}">
    <button type='submit'> Edit? </button>
</form>
{% endif %}

<h2>{{ recipe.title}}</h2>

{% if recipe.is_favorite(user.favorites) %}
<a href="/recipes/{{recipe.id}}/unfavorite"><button>unFavorite</button></a>
{% else %}
<a href="/recipes/{{recipe.id}}/favorite"><button>Favorite</button></a>
{% endif %}

<!-- Get Nutient Facts Coming Soon! -->
<fieldset>
    <legend>Nutrition Facts</legend>
    <p>Coming Soon!</p>
</fieldset>
<!-- Get Ingredient List --


<fieldset>
    <legend>Description</legend>
    <p>{{recipe.description}}</p>
</fieldset>
<!-- Created By -->
<fieldset>
    <legend>Created By:</legend>
    <p>{{creator.first_name }} {{creator.last_name }}</p>
    <img src='{{url_for("static", filename=""+creator.profile_image.file_path)}}' alt='{{creator.first_name }} {{creator.last_name }}"profile picture' class="profile_image">
</fieldset>
<!-- Get Recipe Details Facts -->
<fieldset>
    <legend>Instructions</legend>
    <p>{{recipe.instructions}}</p>
</fieldset>
<h3>Ingredients</h3>
<table>
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Quantity Type</th>
            <th>Ingredient</th>
            <th class="hidden">Hidden</th>
        </tr>
    </thead>
    <tbody id='table_body'>
        {% for ingredient in recipe.ingredients %}
        <tr>
            <td>{{ingredient.quantity}}</td>
            <td>{{ingredient.quantity_type}}</td>
            <td><a href="">{{ingredient.name}}</a></td>
            <td class='hidden'><input type='text' name='spoonacular_id' class='hidden' value={{ingredient.spoonacular_id}} ></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h5>Leave Review?</h5>
<h5>Ask a Question</h5>
<h5>Add Photo</h5>
<h5>Comments:</h5>
{% endblock %}