{% extends 'main/navbar.html' %}
{% block content %}
<div class="meal_plan box">
    <h2>Upcoming Meals</h2>
    <form action="/menu">
        <label for="enddate">Get Your Menu up to: </label>
        <input type="date" name="enddate" />
        <input type="submit" value="See Menu" />
    </form>
    <table>
        <thead>
            <th>Date</th>
            <th>Meal Details</th> 
            <th>Type of Meal</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for meal in menu_meals %}
            <tr>
                <th>{{meal.date}}</th>
                <td>
                {% for recipe in meal.recipes %}
                    <a href="/recipes/{{recipe.id}}">{{recipe.title}}</a><br>
                {% endfor %}
                </td>
                <td>{{meal.meal_type.name}}</td>
                <td>
                    <a href="/meals/{{meal.id}}/edit" class="btn btn-info">Edit</a>
                    <a href="/meals/{{meal.id}}" class="btn btn-secondary">View</a>
                    <a href="/meals/{{meal.id}}/delete" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>        
</div>
{% endblock %}