{% extends 'main/navbar.html' %}
{% block header %}
<title>Meal</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
{% endblock %}
{% block content %}

<table>
    <tr>
        <th>Date:</th>
        <td>{{meal.date}}</td>
    </tr>
    <tr>
        <th>Meal Type:</th>
        <td>{{meal.meal_type.name}}</td>
    </tr>
    <tr>
        <th>Recipes:</th>
        <td>
            {% for recipe in meal.recipes %}
            <a href="/recipes/{{recipe.id}}">{{recipe.title}}</a>
            {% endfor %}
        </td>
    </tr>
</table>

{% endblock %}