{% extends 'main/navbar.html' %}
{% block header %}
{% endblock %}
{% block content %}
<h2>Past Profile Photos: </h2>

<div class="image_flex_container">
    {% for image in profile_images %}
    <div class="image_container">
        <img src="{{url_for('static', filename=''+image.file_path)}}" alt="recipe image" class="recipe_photo">
        <form action="/delete_photo" method='POST' id="delete_photo" class="hidden">
            <input type="hidden" name='photo_id' value="{{image.id}}">
            <button id="delete_photo_button" type="submit">Delete?</button>
        </form>
    </div>
    {% endfor %}
</div>

<h2>Past Profile Photos: </h2>

<div class="image_flex_container">
    {% for image in recipe_images %}
    <div class="image_container">
        <img src="{{url_for('static', filename=''+image.file_path)}}" alt="recipe image" class="recipe_photo">
        <form action="/recipes/{{image.recipe_id}}/delete_photo" method='POST' id="delete_photo" class="hidden">
            <input type="hidden" name='photo_id' value="{{image.id}}">
            <button id="delete_photo_button" type="submit">Delete?</button>
        </form>
    </div>
    {% endfor %}
</div>


<script src="{{url_for('static', filename='js/view_recipe.js')}}"></script>
{% endblock %}